<template>
  <div class="container d-flex flex-column align-items text-start min-vh-100">
    <h1 class="text-start mb-5">Dashboard</h1>

    <div class="d-flex justify-content-start">
      <div class="card mx-3">
        <div class="card-header"><h3 class="text-start">Machines</h3></div>
        <div class="card">
          <div class="card" style="max-width: 15rem">
            <button
              @click="resetDetailView()"
              class="py-3 btn btn-outline-primary text-start"
            >
              View All Machines
            </button>
          </div>
          <div
            v-for="machine in allBoard"
            :key="machine.id"
            class="card"
            style="max-width: 15rem"
          >
            <button
              @click="setDetailView(machine.id)"
              class="btn btn-outline-primary text-start"
            >
              <h5>#{{ machine.id }} {{ machine.name }}</h5>
              <span class="">Detailed View</span>
            </button>
          </div>
        </div>
      </div>

      <div :key="currentView.id" class="card d-flex flex-fill" >
        <div v-if="currentView != false" class="card-header">
          #{{ currentView.id }} {{ currentView.name }}
        </div>
        <div v-else class="card-header">All Machines</div>
        <div class="graph"><h4 class="">area for showing some data graph</h4></div>
      </div>

    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "DashboardView",
  computed: {
    ...mapGetters(["allBoard", "currentView"]),
  },
  methods: {
    ...mapActions([
      "setBoard",
      "setDetailView",
      "resetDetailView",
      // "createWebSocket",
    ]),
  },
  created() {
    this.setBoard();
    // this.createWebSocket();
  },
};
</script>

<style scoped>
.graph {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
</style>
