<template>
  <div class="container d-flex flex-column align-items">
    <h1 class="text-start mb-5">Machines List</h1>
    <table class="table border border-4 b">
      <thead class="">
        <tr class="">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Producer</th>
          <th scope="col">Model</th>
          <th scope="col">Serial</th>
          <th scope="col">Board</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody v-if="allMachines != false" class="">
        <tr
          v-for="machine in allMachines"
          :key="machine.id"
          v-bind:class="machine.boardStatus ? 'active' : 'deactive'"
          class="align-middle"
        >
          <th class="" scope="row ">{{ machine.id }}</th>
          <td>{{ machine.name }}</td>
          <td>{{ machine.producer }}</td>
          <td>{{ machine.model }}</td>
          <td>{{ machine.serial }}</td>
          <td>{{ machine.boardStatus }}</td>
          <td>
            <button
              class="btn btn-outline-light"
              @click="toggleBoard(machine.id)"
            >
              Add | Remove
            </button>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <th class="" scope="row "></th>
        <td colspan="6" class="mx-auto">Loading...</td>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "MachinesView",
  computed: {
    ...mapGetters(["allMachines", "allBoard", "currentView"]),
  },
  methods: {
    ...mapActions([
      "fetchMachines",
      "toggleBoard",
      "setBoard",
      "resetDetailView",
      "setDetailView",
    ]),
  },
  created() {},
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
tr th {
  color: black;
}
tr td {
  color: black;
}
li {
  display: inline-block;
  margin: 0 10px;
}
table{
  text-align: center;
}
.active {
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
}
.deactive {
  background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%);
}
</style>
