<template>
  <nav >
    <img src="http://iqvizyon.com/assets/frontend/img/small_logo.svg" style="width:7%;">
    <div >
      <router-link to="/machines">Machines</router-link> |
    <router-link to="/dashboard">Dashboard</router-link>
    </div>
  </nav>
  <router-view />
</template>
<script>
import { mapActions } from "vuex";

export default {
  methods: {
    ...mapActions(["fetchMachines"]),
  },
  mounted() {
    this.fetchMachines();
  },
};
</script>
<style >
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: #2c3e50;
}

nav {
  
  color: white;
  padding: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(135deg, #130cb7 10%, #52e5e7 100%);
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
nav a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  
}
nav a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
  
}

nav a.router-link-exact-active {
  color: rgba(0, 212, 255, 1);

}
</style>
